<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application>

        <activity
            android:name=".snapmintsdk.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Snapmint_sdk"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|smallestScreenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".snapmintsdk.SnapmintOrderCheckoutActivity"
            android:theme="@style/Theme.Snapmint_sdk"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".snapmintsdk.NewCheckoutWebViewActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Snapmint_sdk"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|smallestScreenSize"
            android:screenOrientation="portrait" />

    </application>

</manifest>
